<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated impl -->
      <package
            uri="http:///implementation.ecore"
            class="implementation.ImplementationPackage"
            genModel="impl/impl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated impl -->
      <package
            uri="http://www.eclipse.org/uml2/5.0.0/Types"
            class="org.eclipse.uml2.types.TypesPackage"
            genModel="impl/impl.genmodel"/>
   </extension>

</plugin>
